{{ if .paginator.HasPages }}
    <ul class="pagination justify-content-center">
        {{ if .paginator.HasPrev }}
            <li class="page-item">
                <a class="page-link" href="{{ .paginator.PageLinkFirst }}">First Page</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ .paginator.PageLinkPrev }}">Previous</a>
            </li>
        {{else}}
            <li class="page-item disabled"><a class="page-link">First Page</a></li>
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {{ end }}
        {{ range $index, $page := .paginator.Pages }}
            <li{{if $.paginator.IsActive .}} class="active page-item"{{end}}>
                <a class="page-link" href="{{ $.paginator.PageLink $page }}"
                >{{ $page }}</a>
            </li>
        {{ end }}

        {{ if .paginator.HasNext }}
            <li class="page-item">
                <a class="page-link" href="{{ .paginator.PageLinkNext }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="{{.paginator.PageLinkLast}}">Last Page</a>
            </li>
        {{else}}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            <li class="page-item disabled"><a class="page-link">Last Page</a></li>
        {{ end }}
    </ul>
{{ end }}
