<form class="form registration-form " action="/register" method="POST">
    <input
            type="email"
            class="form__input"
            name="email"
            placeholder="Email"
    />
    <input
            type="password"
            class="form__input"
            name="password"
            placeholder="Password"
    />
    <input
            type="password"
            class="form__input"
            name="password_confirmation"
            placeholder="Confirm Password"
    />
    <button type="submit">Create Account</button>
</form>