<form class="form form-oauth-client" action="/oauth-client" method="post">
    {{ if .OauthClient }}
        <div class="form-group">
            <input
                    type="text"
                    value="{{ .ClientID }}"
                    class="form-control form__input"
            />
        </div>
        <div class="form-group">
            <input
                    type="=text"
                    value="{{ .Secret }}"
                    class="form-control form__input"
            />
        </div>

    {{ else }}
        <button type="submit" class="btn btn-primary btn-block">Create</button>
    {{ end }}
</form>
