<div class="text-center">
    <table class="table table-centralised ">
        <tbody>
        <tr>
            <th>Keyword:</th>
            <td>{{ .KeywordPresenter.Keyword }}</td>
        </tr>
        <tr>
            <th>Top Advertisers Count:</th>
            <td>{{ .KeywordPresenter.TopAdWordAdvertisersCount }}</td>
        </tr>
        <tr>
            <th>Total Advertisers Count:</th>
            <td>{{ .KeywordPresenter.TotalAdWordAdvertisersCount }}</td>
        </tr>
        <tr>
            <th>Total Link Count:</th>
            <td>{{ .KeywordPresenter.TotalLinksCount }}</td>
        </tr>
        <tr>
            <th>Total Result Count:</th>
            <td>{{ .KeywordPresenter.ResultsCount }}</td>
        </tr>
        </tbody>
    </table>
</div>



    <table class="table table-striped">
        <thead>
        <tr>
            <th>Keyword</th>
            <th>Search Completed</th>

        </tr>
        </thead>
        <tbody>

            <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aperiam at et impedit laudantium natus reprehenderit rerum voluptas voluptates! Debitis distinctio dolore facere magni nostrum odit, quasi quisquam sequi.</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid assumenda consequuntur, dicta enim fuga fugiat illum inventore ipsa iure molestiae nulla quia quo, sapiente tempora tenetur ullam voluptas voluptatum?</td>
            </tr>

        </tbody>
    </table>
